.choose-con {
	@include flexColCenter;
	padding: 7rem 5rem 5rem 5rem;
	position: relative;
	margin-top: 12rem;
	clip-path: polygon(100% 0%, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 5%);
	position: relative;
	z-index: 2;
	overflow: hidden;
	background-color: #0b1f34;
	@include from-320-to-575 {
		padding: $mobile-padding;
	}
	.choose-h-wrap {
		h1 {
			font-size: 5rem;
			font-family: 'F37gingerpro', sans-serif !important;
			text-transform: uppercase;
			font-weight: 400;
			@include from-320-to-575 {
				font-size: 4rem;
			}
			span {
				font-size: 5rem;
				font-family: 'F37gingerpro', sans-serif !important;
				text-transform: uppercase;

				@include from-320-to-575 {
					font-size: 4rem;
				}
			}
		}
	}
}
.choose-card-wrap {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 3rem;
	.choose-card {
		height: 220px;
		width: 400px;
		border-radius: 30px;
		background: transparentize($color: #0b1f34, $amount: 0.3);
		position: relative;
		padding: 2rem;
		backdrop-filter: blur(3px);
		transition: 0.3s ease-in-out;
		border: 1px solid #fff;
		margin-bottom: 2rem;
		margin-top: 2rem;
		@include flexColCenter;
		&:hover {
			box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
		}
		.choose-p {
			font-size: 2.7rem;
			width: 100%;
			text-align: center;
		}
		.choose-info {
			text-align: center;
			font-size: 1.8rem;
			margin-top: 1rem;
			line-height: 3rem;
		}
	}
}
.choose-bg-img {
	position: absolute;
	right: 0%;
	top: 0%;
	z-index: -1;
	width: 8%;
	animation-name: question;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes question {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
