.product-con {
	@include flexColCenter;
	padding: 9rem 5rem 5rem 5rem;
	position: relative;
	z-index: 2;
	overflow: hidden;
	// margin-top: -3.5rem;
	background-image: url('../../public/images/eu-tax-b.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	// clip-path: polygon(100% 0%, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 5%);
	.product-h-wrap {
		h1 {
			font-size: 5rem;
			font-family: 'F37gingerpro', sans-serif !important;
			text-transform: uppercase;
			font-weight: 400;
			@include from-320-to-575 {
				font-size: 4rem;
			}
			span {
				font-size: 5rem;
				font-family: 'F37gingerpro', sans-serif !important;
				text-transform: uppercase;

				@include from-320-to-575 {
					font-size: 4rem;
				}
			}
		}
	}
}
.product-card-wrap {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 3rem;
	.prod-card {
		height: 350px;
		width: 400px;
		border-radius: 30px;
		background: transparentize($color: #0b1f34, $amount: 0.3);
		position: relative;
		padding: 2rem;
		backdrop-filter: blur(3px);
		transition: 0.3s ease-in-out;
		border: 1px solid #fff;
		margin-top: 2rem;
		margin-bottom: 2rem;
		@include from-320-to-420 {
			height: 250px;
		}
		@include flexColCenter;
		&:hover {
			box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.7);
		}
		.prod-p {
			font-size: 3rem;
			width: 100%;
			padding-left: 2rem;
		}
		.prod-list {
			font-size: 2rem;
			width: 100%;
			padding: 2rem;
			height: 300px;
			li {
				margin-bottom: 0.5rem;
			}
		}
	}
}
.prod-bg-img {
	position: absolute;
	left: 0%;
	bottom: -5%;
	@include from-320-to-992 {
		bottom: 0%;
		top: 0%;
		margin: auto 0;
		left: -78%;
	}
	z-index: -1;
	width: 25%;
	@include from-320-to-420 {
		left: -85%;
	}
	@include from-320-to-575 {
		width: 100%;
	}
	@include from-992-to-1500 {
		width: 30%;
		bottom: 20%;
	}
}
.product-btn-wrap {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
	.simple-btn {
		@include simple-button;
		margin-right: 2rem;
		box-shadow: 0 0 3px #fff;
	}
	.high-btn {
		@include highlighted-button;
		box-shadow: 0 0 3px #fff;
	}
}
