.bg-hero-con {
	@include flexColCenter;
	padding: $prim-padding;
	position: relative;
	@include from-320-to-575 {
		padding: $mobile-padding;
	}
	.bg-hero {
		width: 100%;
		height: 600px;
		background-color: transparentize($color: #0b1f34, $amount: 0.8);
		backdrop-filter: blur(0px);
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		border-radius: 10px;
		@include flexColCenter;
		z-index: 2;
		@include from-320-to-575 {
			height: 400px;
		}
	}
}
.upper-h {
	font-size: 7rem;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'F37gingerpro', sans-serif !important;
	@include from-992-to-1500 {
		text-align: center;
	}
	@include from-320-to-992 {
		text-align: center;
	}
	@include from-320-to-575 {
		font-size: 4rem;
	}
	.upper {
		font-family: 'F37gingerpro', sans-serif !important;
		color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #fff;
	}
}
.lower-h {
	font-size: 7rem;
	text-transform: uppercase;
	font-family: 'F37gingerpro', sans-serif !important;
	font-weight: 400;
	@include from-992-to-1500 {
		text-align: center;
	}
	@include from-320-to-992 {
		text-align: center;
	}
	@include from-320-to-575 {
		font-size: 4rem;
	}
	.lower {
		font-family: 'F37gingerpro', sans-serif !important;
		color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #fff;
	}
}
.hero-btn-wrap {
	margin-top: 4rem;
	.high-btn {
		@include highlighted-button;
	}
}
.bg-hero-img {
	position: absolute;
	bottom: 0px;
	right: 50px;
	width: 22%;
	z-index: 1;
	@include from-992-to-1500 {
		width: 28%;
	}
	@include from-320-to-575 {
		width: 45%;
		bottom: -10%;
		right: -12%;
	}
	// animation-name: hero-bg;
	// animation-timing-function: ease-in-out;
	// animation-duration: 5s;
	// animation-iteration-count: infinite;
}
// @keyframes hero-bg {
// 	0% {
// 		transform: translateY(-2%);
// 	}
// 	50% {
// 		transform: translateY(2%);
// 	}
// 	100% {
// 		transform: translateY(-2%);
// 	}
// }
