.manage-sec {
	display: flex;
	flex-wrap: wrap;
	padding: 10rem 5rem;
	// margin-top: -3.5rem;
	// clip-path: polygon(100% 0%, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 5%);
	background-color: #2e3852;
	position: relative;
	z-index: 22;
	@include from-320-to-575 {
		padding: $mobile-padding;
	}
	.manage-h-wrap {
		width: 50%;
		@include from-320-to-992 {
			width: 100%;
		}
		h1 {
			font-size: 5rem;
			font-family: 'F37gingerpro', sans-serif !important;
			text-transform: uppercase;
			font-weight: 400;
			@include from-320-to-575 {
				font-size: 4rem;
			}
		}
		p {
			font-size: 5rem;
			font-family: 'F37gingerpro', sans-serif !important;
			text-transform: uppercase;
			@include from-320-to-575 {
				font-size: 4rem;
			}
		}
		ul {
			margin-top: 3rem;
			padding-left: 3rem;
			font-size: 2.5rem;
			letter-spacing: 1px;
			line-height: 5rem;
		}
		.high-btn-wrap {
			display: flex;
			justify-content: flex-start;
			.high-btn {
				@include highlighted-button;
				margin-left: 3rem;
				margin-top: 2rem;
			}
		}
	}
	.manage-img-wrap {
		width: 50%;
		height: 500px;
		background-image: url('../../public/images/eu-taxonomy-3.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		@include from-320-to-992 {
			width: 100%;
			margin-top: 2rem;
		}
		// @include flexColCenter;
		// overflow: hidden;
		// background: transparentize($color: #0b1f34, $amount: 0.3);
		border-radius: 10px;
		// box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
		img {
			// animation-name: hero-bg;
			// animation-timing-function: ease-in-out;
			// animation-duration: 5s;
			// animation-iteration-count: infinite;
		}
	}
}
@keyframes hero-bg {
	0% {
		transform: translateY(-5%);
	}
	50% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(-5%);
	}
}
