.nav-cus {
	display: flex;
	box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5);
	padding: 2rem 4rem;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	// position: fixed;
	// top: 0;
	width: 100%;
	// z-index: 333;
	@include from-320-to-992 {
		display: none;
	}
	.logo-wrap {
		width: 10%;
		min-width: 140px;
		@include flexColCenter;
		img {
			width: 100%;
		}
	}
	.links {
		width: 60%;
		display: flex;
		justify-content: flex-end;
		list-style: none;
		@include from-992-to-1500 {
			width: 47%;
		}
		li {
			margin-right: 4rem;
			font-size: 2.5rem;
			text-transform: capitalize;
			align-self: center;
			transition: 0.3s ease-in-out;
			@include from-992-to-1500 {
				font-size: 2rem;
			}
			&:hover {
				transform: scale(1.1);
				cursor: pointer;
			}
		}
	}
	.cat-btn-wrap {
		width: 30%;
		// min-width: 400px;
		display: flex;
		justify-content: flex-end;
		@include from-992-to-1500 {
			width: 43%;
		}
		.simple-btn {
			@include simple-button;
			align-self: center;
			margin-right: 2rem;
			@include from-992-to-1500 {
				letter-spacing: 0px;
				margin-right: 1rem;
			}
		}
		.high-btn {
			@include highlighted-button;
			align-self: center;
			@include from-992-to-1500 {
				letter-spacing: 0px;
			}
		}
	}
}
.mobile {
	display: none;
	background-color: rgba(255, 255, 255, 0);
	padding: 2rem 5rem;
	@include from-320-to-992 {
		display: block;
	}
	.bar-wrap {
		display: flex;
		justify-content: flex-end;
		.bar {
			font-size: 40px;
			color: #fff;
		}
	}
}
.logo-inner-wrap {
	@include flexColCenter;
	img {
		align-self: flex-start;
		width: 60%;
		margin-top: 2rem;
		margin-left: 2rem;
	}
}
.inner-content {
	padding-left: 5rem;
	padding-top: 5rem;
	ul {
		font-size: 3rem;
		padding-bottom: 2rem;
		color: #fff;
		list-style: none;
		li {
			margin-bottom: 2rem;
		}
	}
}
.MuiDrawer-paper {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
}
.cat-btn-inner-wrap {
	display: flex;
	flex-direction: column;
	margin-left: 5rem;
	.simple-btn {
		@include simple-button;
		margin-bottom: 2rem;
		align-self: flex-start;
	}
	.high-btn {
		@include highlighted-button;
		align-self: flex-start;
	}
}
.scroll-navbar {
	position: fixed;
	background: rgba(0, 0, 0, 0.35);
	width: 100%;
	backdrop-filter: blur(10px);
	box-shadow: 0 5px 5px #a2a2a2;
	z-index: 333;
}
.nav-cus-fixed {
	transition: 0.3s ease-in-out;
	position: fixed;
	z-index: 333;
	width: 100%;
	animation-name: navbar-ani;
	animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
	animation-iteration-count: once;
}
@keyframes navbar-ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
