@font-face {
	font-family: F37gingerpro;
	font-weight: bold;
	src: url("../public/fonts/F37Ginger-Bold.otf") format("opentype");
}
@font-face {
	font-family: F37gingerpro;
	font-weight: 400;
	src: url("../public/fonts/F37Ginger-Regular.otf") format("opentype");
}
@font-face {
	font-family: F37gingerpro;
	font-weight: 300;
	src: url("../public/fonts/F37Ginger-Light.otf") format("opentype");
}
