@font-face {
	font-family: 'Futura Md BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura Md BT'), url('https://fonts.cdnfonts.com/s/14894/futuram.woff') format('woff');
}
@font-face {
	font-family: 'Futura Md BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura Md BT'), url('https://fonts.cdnfonts.com/s/14894/futurami.woff') format('woff');
}
@font-face {
	font-family: 'Futura Md BT';
	font-style: normal;
	font-weight: 700;
	src: local('Futura Md BT'), url('https://fonts.cdnfonts.com/s/14894/futurab.woff') format('woff');
}
@font-face {
	font-family: 'Futura Md BT';
	font-style: italic;
	font-weight: 700;
	src: local('Futura Md BT'), url('https://fonts.cdnfonts.com/s/14894/futurabi.woff') format('woff');
}
@font-face {
	font-family: 'FuturaBlack BT';
	font-style: normal;
	font-weight: 400;
	src: local('FuturaBlack BT'), url('https://fonts.cdnfonts.com/s/14894/futurak.woff') format('woff');
}
@font-face {
	font-family: 'Futura BdCn BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura BdCn BT'), url('https://fonts.cdnfonts.com/s/14894/futurabc.woff') format('woff');
}
@font-face {
	font-family: 'Futura Hv BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura Hv BT'), url('https://fonts.cdnfonts.com/s/14894/futurah.woff') format('woff');
}
@font-face {
	font-family: 'Futura Lt BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura Lt BT'), url('https://fonts.cdnfonts.com/s/14894/futural.woff') format('woff');
}
@font-face {
	font-family: 'Futura LtCn BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura LtCn BT'), url('https://fonts.cdnfonts.com/s/14894/futuralc.woff') format('woff');
}
@font-face {
	font-family: 'Futura MdCn BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura MdCn BT'), url('https://fonts.cdnfonts.com/s/14894/futuramc.woff') format('woff');
}
@font-face {
	font-family: 'Futura Bk BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura Bk BT'), url('https://fonts.cdnfonts.com/s/14894/futuran.woff') format('woff');
}
@font-face {
	font-family: 'Futura Bk BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura Bk BT'), url('https://fonts.cdnfonts.com/s/14894/futurani.woff') format('woff');
}
@font-face {
	font-family: 'Futura XBlk BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura XBlk BT'), url('https://fonts.cdnfonts.com/s/14894/futuraxk.woff') format('woff');
}
@font-face {
	font-family: 'Futura XBlkCn BT';
	font-style: normal;
	font-weight: 400;
	src: local('Futura XBlkCn BT'), url('https://fonts.cdnfonts.com/s/14894/futurxkc.woff') format('woff');
}
@font-face {
	font-family: 'Futura BdCn BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura BdCn BT'), url('https://fonts.cdnfonts.com/s/14894/futurbci.woff') format('woff');
}
@font-face {
	font-family: 'Futura Hv BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura Hv BT'), url('https://fonts.cdnfonts.com/s/14894/futurahi.woff') format('woff');
}
@font-face {
	font-family: 'Futura Lt BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura Lt BT'), url('https://fonts.cdnfonts.com/s/14894/futurali.woff') format('woff');
}
@font-face {
	font-family: 'Futura LtCn BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura LtCn BT'), url('https://fonts.cdnfonts.com/s/14894/futurlci.woff') format('woff');
}
@font-face {
	font-family: 'Futura MdCn BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura MdCn BT'), url('https://fonts.cdnfonts.com/s/14894/futurmci.woff') format('woff');
}
@font-face {
	font-family: 'Futura XBlkIt BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura XBlkIt BT'), url('https://fonts.cdnfonts.com/s/14894/futurxki.woff') format('woff');
}
@font-face {
	font-family: 'Futura XBlkCnIt BT';
	font-style: italic;
	font-weight: 400;
	src: local('Futura XBlkCnIt BT'), url('https://fonts.cdnfonts.com/s/14894/futuxkci.woff') format('woff');
}

@font-face {
	font-family: 'Souvenir';
	font-style: normal;
	font-weight: 400;
	src: local('Souvenir'), url('https://fonts.cdnfonts.com/s/58238/Souvenir.woff') format('woff');
}
@font-face {
	font-family: 'Souvenir';
	font-style: italic;
	font-weight: 400;
	src: local('Souvenir'), url('https://fonts.cdnfonts.com/s/58238/SouvenirI.woff') format('woff');
}
@font-face {
	font-family: 'Souvenir';
	font-style: normal;
	font-weight: 700;
	src: local('Souvenir'), url('https://fonts.cdnfonts.com/s/58238/SouvenirB.woff') format('woff');
}
@font-face {
	font-family: 'Souvenir';
	font-style: italic;
	font-weight: 700;
	src: local('Souvenir'), url('https://fonts.cdnfonts.com/s/58238/SouvenirBI.woff') format('woff');
}
