@import './fonts.scss';
@mixin from-992-to-1500 {
	@media screen and (min-width: 992px) and (max-width: 1500px) {
		@content;
	}
}
@mixin from-320-to-992 {
	@media screen and (min-width: 320px) and (max-width: 992px) {
		@content;
	}
}
@mixin from-575-to-992 {
	@media screen and (min-width: 574.97px) and (max-width: 992px) {
		@content;
	}
}
@mixin from-320-to-575 {
	@media screen and (min-width: 320px) and (max-width: 575px) {
		@content;
	}
}
@mixin from-320-to-420 {
	@media screen and (min-width: 320px) and (max-width: 420px) {
		@content;
	}
}
html,
body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(11, 31, 52, 1) 90%);
	color: #fff;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	@include from-320-to-420 {
		font-size: 7px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-family: 'F37gingerpro', sans-serif !important;
	@include from-320-to-575 {
		text-align: center;
	}
}
h2,
h3,
h4,
h5,
h6 {
	font-family: 'F37gingerpro', sans-serif !important;
	@include from-320-to-575 {
		text-align: center;
	}
}
p,
span {
	@include from-320-to-575 {
		text-align: center;
	}
}
p,
a,
span,
li {
	font-family: 'F37gingerpro', sans-serif !important;
}
$primary-color: #000;
$overlay-color: #0b1f34;
$prim-padding: 3rem 5rem;
$mobile-padding: 9rem 2rem;
@mixin highlighted-button {
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: rgba(11, 31, 52, 1);
	border: 1px solid rgba(11, 31, 52, 1);
	color: #fff;
	font-size: 1.8rem;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'F37gingerpro', sans-serif !important;
	&:hover {
		background-color: rgba(11, 31, 52, 0.7);
		cursor: pointer;
		color: #fff;
	}
}
@mixin simple-button {
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: #000;
	font-family: 'F37gingerpro', sans-serif !important;
	border: 1px solid #000;
	color: #fff;
	font-size: 1.8rem;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
	letter-spacing: 2px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.7);
		cursor: pointer;
		border: 1px solid #000;
		color: #fff;
	}
}
@mixin flexRowCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
@mixin flexColCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.arrow-gif-con {
	display: flex;
	justify-content: center;
	position: relative;
	img {
		position: absolute;
		top: -40px;
		transform: rotate(10deg);
		bottom: 0px;
		width: 240px;
		z-index: 1;
		@include from-320-to-575 {
			width: 200px;
		}
	}
}
@import url('aos/dist/aos.css');
@import '../components/navbar/navbar.scss';
@import '../components/heroSection/hero.scss';
@import '../components/manageSection/manage.scss';
@import '../components//ourProduct/product.scss';
@import '../components/chooseUs/chooseUs.scss';
@import '../components/DemoSection/demo.scss';
@import '../components/footer/footer.scss';
@import './taxonomy.scss';
@import './about.scss';
