.tax-hero-con {
	@include flexColCenter;
	z-index: 6;
	padding: $prim-padding;
	padding-top: 10rem;
	position: relative;
	background-image: url('../public/images/eu-taxonomy-2.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
	@include from-320-to-575 {
		padding: $mobile-padding;
	}
	.bg-hero {
		width: 100%;
		height: 600px;
		background-color: transparentize($color: #0b1f34, $amount: 0.8);
		backdrop-filter: blur(3px);
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		border-radius: 10px;
		@include flexColCenter;
		z-index: 6;
		@include from-320-to-575 {
			height: 300px;
		}
	}
}
.upper-h {
	font-size: 6.5rem;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'F37gingerpro', sans-serif !important;
	text-align: center;
	padding: 3rem;
	color: #fff;
	@include from-992-to-1500 {
		text-align: center;
	}
	@include from-320-to-992 {
		text-align: center;
	}
	@include from-320-to-575 {
		font-size: 4rem;
	}
	.upper {
		font-family: 'F37gingerpro', sans-serif !important;
	}
}
.lower-h {
	font-size: 7rem;
	text-transform: uppercase;
	font-family: 'F37gingerpro', sans-serif !important;
	font-weight: 400;
	color: #fff;
	@include from-992-to-1500 {
		text-align: center;
	}
	@include from-320-to-992 {
		text-align: center;
	}
	@include from-320-to-575 {
		font-size: 4rem;
	}
	.lower {
		font-family: 'F37gingerpro', sans-serif !important;
	}
}
.hero-btn-wrap {
	margin-top: 4rem;
	.high-btn {
		@include highlighted-button;
	}
	.simple-btn {
		margin-left: 1rem;
		@include simple-button;
	}
}
.bg-hero-img {
	position: absolute;
	bottom: 0px;
	right: 50px;
	width: 22%;
	z-index: 1;
	@include from-992-to-1500 {
		width: 28%;
	}
	@include from-320-to-575 {
		width: 45%;
		bottom: -10%;
		right: -12%;
	}
	// animation-name: hero-bg;
	// animation-timing-function: ease-in-out;
	// animation-duration: 5s;
	// animation-iteration-count: infinite;
}
// @keyframes hero-bg {
// 	0% {
// 		transform: translateY(-2%);
// 	}
// 	50% {
// 		transform: translateY(2%);
// 	}
// 	100% {
// 		transform: translateY(-2%);
// 	}
// }
.desk-hero {
	@include from-320-to-575 {
		display: none;
	}
}
.mobile-hero {
	display: none;
	@include from-320-to-575 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 40%;
		}
		h1 {
			font-size: 3rem;
			line-height: 4rem;
			letter-spacing: 1px;
		}
	}
}
.tax-who-con {
	padding: 10rem 5rem;
	margin-top: -2.8rem;
	background-image: url('../public/images/eu.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// clip-path: polygon(50% 5%, 100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
	position: relative;
	z-index: 4;
	@include from-320-to-992 {
		padding: 7rem 2rem;
		clip-path: none;
	}
	.tax-who-sec {
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		backdrop-filter: blur(5px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10rem 5rem;
		@include from-320-to-992 {
			padding: 5rem 1rem;
		}
		h1 {
			font-size: 5rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
			@include from-320-to-992 {
				margin-bottom: 0rem;
			}
		}
		p {
			font-size: 2rem;
			line-height: 30px;
			text-align: center;
		}
	}
}
.tax-sol-con {
	margin-top: -5rem;
	background-image: url('../public/images/bulb.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// clip-path: polygon(50% 5%, 100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
	position: relative;
	z-index: 3;
	@include from-320-to-992 {
		clip-path: none;
	}
	.sol-sec {
		background-color: rgba(0, 0, 0, 0.15);
		padding: 10rem 5rem;
		h1 {
			font-size: 5rem;
			text-transform: uppercase;
			margin-bottom: 5rem;
			text-align: center;
		}
		.cards-wrap {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			.sol-cards {
				height: 350px;
				width: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 20px;
				margin-left: 10px;
				margin-right: 10px;
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(5px);
				border-radius: 10px;
				padding: 3rem 2rem;
				box-shadow: 0 0 5px #fff;
				transition: 0.3s ease-in-out;
				@include from-320-to-575 {
					width: 100%;
					height: 320px;
					backdrop-filter: blur(10px);
				}
				&:hover {
					box-shadow: 0 0 15px #fff;
				}
				img {
					margin-bottom: 10px;
				}
				h4 {
					font-size: 2rem;
					text-align: center;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				p {
					text-align: center;
					font-size: 1.6rem;
					font-weight: 300;
					line-height: 27px;
				}
			}
		}
	}
}
.tax-del-con {
	margin-top: -4rem;
	background-image: url('../public/images/deliver.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	position: relative;
	z-index: 2;
	@include from-320-to-992 {
		clip-path: none;
	}
	.del-sec {
		background-color: rgba(0, 0, 0, 0.7);
		padding: 10rem 5rem;
		backdrop-filter: blur(5px);
		h1 {
			font-size: 5rem;
			text-transform: uppercase;
			margin-bottom: 3rem;
			text-align: center;
		}
		.cards-wrap {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			.sol-cards {
				height: 350px;
				width: 30%;
				border-bottom-right-radius: 100px;
				border-top-left-radius: 100px;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 20px;
				margin-left: 10px;
				margin-right: 10px;
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(5px);
				// border-radius: 10px;
				padding: 3rem 2rem;
				box-shadow: 0 0 5px #fff;
				transition: 0.3s ease-in-out;
				@include from-320-to-575 {
					width: 100%;
					height: 320px;
				}
				&:hover {
					// box-shadow: 0 0 15px #fff;
					border-radius: 0px;
				}
				img {
					margin-bottom: 10px;
				}
				h4 {
					font-size: 2rem;
					text-align: center;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				p {
					text-align: center;
					font-size: 1.6rem;
					font-weight: 300;
					line-height: 27px;
				}
			}
		}
	}
}
